.hero-text,
.myButton {
  font-family: "Hind Madurai";
}
.link,
.myButton {
  cursor: pointer;
  color: var(--second-dark-pink);
  position: relative;
}
body,
html {
  margin: 0;
  height: 100%;
}
.header-links-texts,
.myButton {
  font-weight: 700;
  letter-spacing: 0;
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v51-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v51-latin-500.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/roboto-v51-latin-600.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v51-latin-700.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/roboto-v51-latin-800.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v51-latin-900.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Fredoka";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/fredoka-v17-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Fredoka";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/fredoka-v17-latin-500.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Fredoka";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/fredoka-v17-latin-600.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Fredoka";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/fredoka-v17-latin-700.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Hind Madurai";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/hind-madurai-v13-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Hind Madurai";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/hind-madurai-v13-latin-500.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Hind Madurai";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/hind-madurai-v13-latin-600.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Hind Madurai";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/hind-madurai-v13-latin-700.woff2") format("woff2");
}
.link {
  white-space: nowrap;
}
.link::after,
.link::before {
  position: absolute;
  width: 100%;
  height: 1px;
  background: currentColor;
  top: 100%;
  left: 0;
  pointer-events: none;
}
.link::before {
  content: "";
}
.link--elara::before {
  transform-origin: 50% 100%;
  transition:
    clip-path 0.3s,
    transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
  clip-path: polygon(
    0% 0%,
    0% 100%,
    0 100%,
    0 0,
    100% 0,
    100% 100%,
    0 100%,
    0 100%,
    100% 100%,
    100% 0%
  );
}
.link--elara:hover::before {
  transform: translate3d(0, 2px, 0) scale3d(1.08, 3, 1);
  clip-path: polygon(
    0% 0%,
    0% 100%,
    50% 100%,
    50% 0,
    50% 0,
    50% 100%,
    50% 100%,
    0 100%,
    100% 100%,
    100% 0%
  );
}
.link--elara .header-links-texts {
  display: inline-block;
  transition: transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
}
.link--elara:hover .header-links-texts {
  transform: translate3d(0, -2px, 0);
}
.myButton {
  background-color: inherit;
  border: 2px solid var(--second-dark-pink);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 50px;
  border-radius: 5px;
  font-size: 16px;
  line-height: 100%;
  transition: 0.3s;
  overflow: hidden;
  z-index: 1;
}
.header-links-texts,
.hero-first-title {
  font-family: "Roboto";
  font-size: 14px;
  line-height: 100%;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: var(--white);
}
::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: var(--second-dark-pink);
}
:root {
  --white-smoke: #fafafa;
  --white: #ffffff;
  --black: #000000;
  --dark-pink: #d64474;
  --second-dark-pink: #d23166;
  --light-pink: #fbf0f4;
  --dark-cyan: #271919;
  --footer-color: #0a0808;
  --grey: #6d6162;
}
::selection {
  background-color: var(--second-dark-pink);
  color: var(--white);
}
.brown,
.header,
.hero,
.simple {
  background-color: var(--light-pink);
}
*,
::after,
::before {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}
li,
ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
img {
  margin: 0;
  padding: 0;
  vertical-align: middle;
}
html {
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}
body {
  padding: 0;
  min-width: 320px;
  font-family: "Roboto", "Fredoka", "Hind Madurai";
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  color: var(--black);
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  background-color: var(--white);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}
.footer-right-button,
.question-button {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1;
  display: flex;
}
.container {
  width: 100%;
  max-width: 1266px;
  padding: 0 50px;
  margin: 0 auto;
}
.header-container {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footer-left-social-links,
.footer-right-social-links,
.header-logo-link,
.simple-download-links {
  transition: 0.2s;
}
.header-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.header-links-texts {
  color: var(--grey);
}
.hero {
  padding-top: 40px;
  padding-bottom: 40px;
}
.bread-container,
.brown-container,
.hero-container,
.sweet-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.bread-right-box,
.brown-left-box,
.footer-left-box,
.footer-right-box,
.hero-left-box,
.sweet-right-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.hero-first-title {
  font-weight: 600;
  letter-spacing: 10%;
  color: var(--black);
  margin-bottom: 6px;
}
.hero-second-title {
  width: 665px;
  font-family: "Fredoka";
  font-weight: 900;
  font-size: 57.33px;
  line-height: 121%;
  letter-spacing: 0;
  color: var(--dark-cyan);
  margin-bottom: 35px;
}
.hero-second-title-span {
  color: var(--dark-pink);
}
.hero-text {
  width: 523px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0;
  color: var(--grey);
  margin-bottom: 50px;
}
.category-texts,
.category-titles {
  text-align: center;
  line-height: 100%;
  font-family: "Hind Madurai";
  letter-spacing: 0;
}
.category {
  padding-top: 100px;
  padding-bottom: 100px;
}
.category-container,
.simple-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}
.category-boxes {
  box-shadow:
    rgba(0, 0, 0, 0.07) 0 1px 2px,
    rgba(0, 0, 0, 0.07) 0 2px 4px,
    rgba(0, 0, 0, 0.07) 0 4px 8px,
    rgba(0, 0, 0, 0.07) 0 8px 16px,
    rgba(0, 0, 0, 0.07) 0 16px 32px,
    rgba(0, 0, 0, 0.07) 0 32px 64px;
  transition: 450ms;
  border-radius: 7px;
  width: 250px;
  height: 200px;
  padding: 33px 26px 27px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.category-images {
  margin-bottom: 25px;
}
.category-titles {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 9px;
  color: var(--black);
}
.category-texts {
  width: 100%;
  font-weight: 500;
  font-size: 14px;
  color: var(--grey);
}
.brown {
  padding-top: 65px;
  padding-bottom: 65px;
}
.brown-title {
  width: 250px;
  font-family: "Hind Madurai";
  font-weight: 600;
  font-size: 44.2px;
  line-height: 111.00000000000001%;
  letter-spacing: 0;
  color: var(--dark-cyan);
  margin-bottom: 16.04px;
}
.brown-text {
  width: 442px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
  color: var(--grey);
  margin-bottom: 22px;
}
.bread-title,
.product-texts-links,
.product-title,
.sweet-title {
  line-height: 100%;
  letter-spacing: 0;
}
.product {
  margin-top: 138px;
}
.product-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;
}
.product-title {
  font-family: "Hind Madurai";
  font-weight: 600;
  font-size: 44.2px;
  color: var(--dark-cyan);
}
.product-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 39px;
}
.product-texts-links {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 18px;
  color: var(--second-dark-pink);
}
.bread,
.sweet {
  margin-top: 30px;
}
.bread-title,
.sweet-title {
  text-align: start;
  font-family: "Hind Madurai";
  font-weight: 700;
  font-size: 26px;
  color: var(--black);
  margin-bottom: 11px;
}
.bread-text,
.sweet-text {
  text-align: start;
  width: 454px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
  color: var(--grey);
  margin-bottom: 28px;
}
.bread-span,
.bread-strike,
.cayenne-span,
.cayenne-strike,
.cayenne-title,
.sweet-span,
.sweet-strike {
  font-family: "Hind Madurai";
  line-height: 100%;
  letter-spacing: 0;
}
.bread-min-box,
.cayenne-min-box,
.sweet-min-box {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: end;
  gap: 10px;
  margin-bottom: 16px;
}
.bread-span,
.cayenne-span,
.sweet-span {
  font-weight: 500;
  font-size: 26px;
  color: var(--black);
}
.bread-strike,
.cayenne-strike,
.sweet-strike {
  font-weight: 500;
  font-size: 20px;
  color: var(--grey);
}
.cayenne {
  margin-top: 50px;
}
.cayenne-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}
.cayenne-right-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}
.cayenne-title {
  text-align: end;
  font-weight: 700;
  font-size: 26px;
  color: var(--black);
  margin-bottom: 11px;
}
.cayenne-text {
  text-align: end;
  width: 454px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
  color: var(--grey);
  margin-bottom: 28px;
}
.simple-text,
.simple-title {
  font-family: "Roboto";
  line-height: 100%;
}
.simple {
  margin-top: 155px;
}
.simple-image {
  transform: translateY(90px);
}
.simple-right-box {
  padding-top: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.simple-title {
  font-weight: 500;
  font-size: 44.2px;
  color: var(--black);
  letter-spacing: 0;
  margin-bottom: 20px;
}
.simple-text {
  margin-bottom: 29px;
  width: 607px;
  font-weight: 400;
  font-size: 18px;
  color: var(--dark-cyan);
  letter-spacing: 1%;
}
.question-button,
.question-input,
.question-title,
.simple-box-titles {
  line-height: 100%;
  letter-spacing: 0;
  font-family: "Roboto";
}
.simple-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 19px;
  margin-bottom: 54px;
}
.simple-mini-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  gap: 10px;
}
.simple-box-titles {
  font-weight: 400;
  font-size: 22px;
  color: var(--black);
}
.simple-download-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  gap: 20px;
}
.question {
  padding-top: 191px;
  padding-bottom: 149px;
}
.question-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 28px;
}
.question-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.question-title {
  width: 522px;
  font-weight: 500;
  font-size: 44px;
  text-align: center;
  color: var(--black);
}
.question-input {
  padding: 29px 352px 29px 30px;
  font-weight: 400;
  font-size: 14px;
  background-color: var(--white-smoke);
  border-radius: 5px 0 0 5px;
  outline: 0;
  border: none;
}
.footer-right-input,
.question-button {
  border: 2px solid var(--second-dark-pink);
}
.question-button {
  background-color: inherit;
  justify-content: center;
  align-items: center;
  padding: 27.5px 46px;
  border-radius: 0 5px 5px 0;
  color: var(--second-dark-pink);
  font-weight: 700;
  font-size: 16px;
  transition: 0.3s;
}
.footer {
  padding-top: 70px;
  padding-bottom: 114px;
  background-color: var(--footer-color);
}
.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
}
.footer-left-logo-link {
  margin-bottom: 20px;
  transition: 0.2s;
}
.footer-left-text {
  width: 207px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  letter-spacing: 1%;
  color: var(--white);
  opacity: 70%;
  margin-bottom: 25px;
}
.footer-left-title {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0;
  color: var(--white);
  margin-bottom: 8px;
}
.footer-links-texts,
.footer-right-title {
  font-size: 16px;
  color: var(--white);
  font-family: "Roboto";
  line-height: 100%;
  letter-spacing: 0;
}
.footer-left-mini-box {
  display: flex;
  gap: 10px;
}
.footer-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 20px;
}
.footer-links-texts {
  font-weight: 400;
  opacity: 70%;
  transition: 450ms;
}
.footer-right-title {
  font-weight: 500;
  margin-bottom: 13px;
}
.footer-right-form {
  display: flex;
  flex-direction: row;
  margin-bottom: 16.69px;
}
.footer-right-input {
  padding: 20px 139px 20px 32px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0;
  background-color: inherit;
  border-radius: 5px 0 0 5px;
  outline: 0;
}
.footer-right-button {
  background-color: inherit;
  border: 2px solid var(--second-dark-pink);
  justify-content: center;
  align-items: center;
  padding: 16px 18px;
  border-radius: 0 5px 5px 0;
  color: var(--second-dark-pink);
  font-family: "Roboto";
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0;
  transition: 0.3s;
}
.footer-right-mini-box {
  display: flex;
  gap: 15px;
}